<h1><a href="{{name}}">{{title}}</a></h1>
<p>Date: <a href="/posts/by-date/{{date-year}}">{{date-year}}</a>-<a href="/posts/by-date/{{date-year}}/{{date-month}}">{{date-month}}</a>-<a href="/posts/by-date/{{date-year}}/{{date-month}}/{{date-day}}">{{date-day}}</a><br>
Tags:{{#tags}} <a href="/posts/tags/{{.}}">{{.}}</a>{{/tags}}</p>

{{{body}}}
